@model Data.Core.Domain.Cerere

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Cerere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <div class="dropdown">
            <span>Alegeti tipul cererii</span>
            <div class="dropdown-content">
                <p>Cerere Adeverinta Student</p>
            </div>
            <div class="dropdown-content">
                <p>Cerere CTP</p>
            </div>
            <div class="dropdown-content">
                <p>Cerere Legitimatie Tren</p>
            </div>
            <div class="dropdown-content">
                <p>Cerere Marire</p>
            </div>
            <div class="dropdown-content">
                <p>Cerere Mutare Grupa</p>
            </div>
            <div class="dropdown-content">
                <p>Cerere Schimbare Optionale</p>
            </div>
        </div>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control"/>
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenume" class="control-label"></label>
                <input asp-for="Prenume" class="form-control"/>
                <span asp-validation-for="Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialaTatalui" class="control-label"></label>
                <input asp-for="InitialaTatalui" class="form-control"/>
                <span asp-validation-for="InitialaTatalui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarMatricol" class="control-label"></label>
                <input asp-for="NumarMatricol" class="form-control"/>
                <span asp-validation-for="NumarMatricol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerieBuletin" class="control-label"></label>
                <input asp-for="SerieBuletin" class="form-control"/>
                <span asp-validation-for="SerieBuletin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumarBuletin" class="control-label"></label>
                <input asp-for="NumarBuletin" class="form-control"/>
                <span asp-validation-for="NumarBuletin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StareCerere" class="control-label"></label>
                <input asp-for="StareCerere" class="form-control" value="In asteptare" readonly/>
                <span asp-validation-for="StareCerere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
